<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQL QUERY EXECUTOR</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-right">
            <div>
                <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/manage/passwords}"
                        >Manage Users</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <label th:if="${user.firstName != null && user.lastName != null}"
                       th:text="${user.firstName+' '+user.lastName}"
                       class="nav-item nav-link px-2 me-3">
                </label>

                <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
                       class="nav-item nav-link px-2 me-3"></label>

                <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
<!--                    <div>-->
<!--                        <label th:if="${user.firstName != null && user.lastName != null}"-->
<!--                               th:text="${user.firstName+' '+user.lastName}"-->
<!--                               class="nav-item nav-link px-2 me-3">-->
<!--                        </label>-->

<!--                        <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"-->
<!--                               class="nav-item nav-link px-2 me-3"></label>-->

<!--                        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>-->
<!--                    </div>-->
                    <div class="card-header text-center">
                        <h1>SQL QUERY EXECUTOR</h1>
                    </div>
                    <div class="card-body">
                        <form action="/executeQuery" method="post">
                            <div class="form-group">
                                <label for="sqlQuery">Enter your SQL query here</label>
                                <textarea class="form-control" name="sqlQuery" id="sqlQuery" rows="10" placeholder="Enter your sql query here">Select * from users</textarea>
                            </div>
                            <div class="form-group">
                                <label for="database">Select Database</label>
                                <select class="form-control" name="database" id="database">
                                    <option value="mysql">MySQL</option>
                                    <option value="sybase" disabled>Sybase</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Execute Query</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
